*,
*::after
*::before {
    margin:0;
    padding:0;
    box-sizing: inherit;
    
}
html{
    // defines 1 rem
    /* browser default is 16px */
    /* 16px*62.5% -> 10px */ 
    /* for the user to zoom in out will dynamically adjust */
    font-size: 62.5%;
}
body {
    box-sizing: border-box;
}